
a {
  color: #0178d4;
}

.side-bar {
  background-color: #ebebeb;
}

.site-header {
  min-height: 150px !important;
}

.navigation-list-child-list {
  display: block !important;
}

::selection {
  background: #0178d4;
}

$purple-000: #0178d4 !default;
$purple-100: #1d6eaf !default;
$purple-200: #4e26af !default;
// $purple-300: #381885 !default;

@media (min-width: 50rem) {
  .navigation {
      padding-top: 1rem;
      padding-bottom: 1rem;
      overflow-y: auto;
      flex: 1 1 auto;
  }
}