
a {
  color: #0178d4;
}

.side-bar {
  background-color: #ebebeb;
}

.navigation-list-child-list {
  display: block !important;
}

::selection {
  background: #0178d4;
}

$purple-000: #0178d4 !default;
$purple-100: #1d6eaf !default;
$purple-200: #4e26af !default;
// $purple-300: #381885 !default;